.iphone-landing {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
}

.copy-link-h2 {
}

.waves {
    max-width: 80%;
    margin-top: 1.5rem;
}

.share-button {
    display: flex;
    align-content: center;
    margin: 0 2rem;
}

#link-copy {
    border: none;
    padding: 0;
    width: auto;
    color: var(--black);
    &:active {
        color: var(--black);
    }

    &:hover [data-icon] {
        color: var(--blue);
    }

    & input {
        display: none;
    }
}

.iphone-landing-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & h2 {
        margin-left: 10px;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    & img {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    & p {
        font-size: 0.83rem;
        margin: 1rem 1rem 2rem 1rem;
    }
}

.iphone-images {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
.cancel {
    width: 50px;
    height: 50px;
}

.microphone {
    width: 50px;
    height: 50px;
}
