.iphone-landing {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.copy-link-h2 {
    margin-top: 2rem;
}

#link-copy {
    border: none;
    padding: 0;
    width: auto;
    background: transparent;

    &:active {
        color: var(--black);
    }

    &:hover [data-icon] {
        color: var(--blue);
    }

    & input {
        position: fixed;
        top: 1000rem;
        left: 1000rem;
    }
}

.iphone-landing-items {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;

    & h2 {
        font-weight: 700;
    }

    & p {
        font-size: 1.2rem;
    }
}

.iphone-images {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
.cancel {
    width: 50px;
    height: 50px;
}

.microphone {
    width: 50px;
    height: 50px;
}
