@import url('../../vars.css');
.competition-container {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (--md-up) {
        flex-direction: row;
        & > * {
            width: 65%;
        }
    }
}
