@import url('../../vars.css');

.competition-container #content {
    padding: 0;

    & > div {
        max-width: none;

        @media (--lg-down) {
            padding: 0;
        }
    }
}

.competition-container {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    & .text {
        @media (--md-down) {
            margin-bottom: 20px;
            width: 100%;
        }

        @media (--lg-up) {
            margin-top: 50px;
            width: 40%;
            margin-bottom: 30px;
        }

        & .line {
            width: 70px;
            height: 3px;
            background: linear-gradient(to right, #f89096, #b1b4e5);
            margin: 1rem 0;
        }

        & h1 {
            margin-bottom: 1rem;
        }

        .participate-container {
            margin-top: 1rem;
            display: flex;
            & h2 {
                font-weight: 700;
                margin-right: 0.5rem;
            }
        }

        & p {
            text-align: justify;
            margin-bottom: 1em;

            & a {
                color: var(--blue);
            }
        }
    }

    & .leaderboard {
        flex-grow: 2;

        @media (--md-down) {
            margin-bottom: 20px;
            flex-direction: column;
        }

        @media (--lg-up) {
            padding-right: 3rem;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }

    @media (--md-up) {
        flex-direction: row-reverse;
        & > * {
            width: 100%;
        }
    }

    @media (--md-down) {
        flex-direction: column;
    }
}
