@import url('../../vars.css');
.leaderboard-container {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    @media (--sm-down) {
        font-size: var(--font-size-xs);
    }
    @media (--lg-up) {
        font-size: var(--font-size);
    }
}

.leaderboard-header {
    font-family: var(--strong-font-family);
    font-weight: 600;
    max-height: 20px;
    border-bottom: 2px solid black;

    & img {
        display: none;
        max-width: 10px;
        @media (--lg-down) {
            display: none;
        }
    }

    & .stat {
        cursor: pointer;
    }

    & .prop {
        cursor: auto;
        text-align: right;
    }

    @media (--lg-up) {
        font-size: var(--font-size-lg);
    }

    @media (--xxs-down) {
        font-size: var(--font-size-xxs);
    }
}

.leaderboard-item {
    display: grid;
    padding: 1em 0 1em 0;
    grid-template-columns: 1fr 4fr 2fr 2fr 1fr;
    border-bottom: 1px solid black;

    & .stat {
        text-align: center;
    }

    & .proportion {
        text-align: right;
    }

    & .stat-main {
        font-weight: 700;
    }

    & .stat-prop {
        text-align: right;
    }
}
