.form-fields {
    color: var(--near-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    & button {
        display: flex;
        align-self: flex-start;
    }
    & > * {
        box-sizing: border-box;
        margin-bottom: 30px;
        @media (--sm-down) {
            width: 100%;
        }
        @media (--md-up) {
            width: calc(50% - (var(--profile-column-margin) / 2));
            &:nth-child(2n + 1) {
                margin-inline-end: var(--profile-column-margin);
            }
        }
    }
    & button {
        box-sizing: border-box;
        border: 1.6px solid #e6e4e1;
        border-radius: 2px;
        padding: 13px;
        font-size: var(--font-size);
        font-family: var(--base-font-family);
        color: var(--black);
        background-color: var(--white);
        &:focus {
            border-color: var(--black);
        }
        &:disabled {
            color: var(--warm-grey);
        }
    }

    & input[type='number'] {
        width: 100%;
        -moz-appearance: textfield;
    }

    & input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    & .labeled-checkbox {
        padding: 13px 5px;
        margin-top: 1rem;
        min-width: 12rem;
        & .checkmark {
            & path {
                fill: var(--orange);
            }
        }
        & .checkbox-container {
            margin-bottom: 0.3rem;
        }
    }
}

.info-consent {
    margin: 0px 0px 30px 0px;
}

.info {
    margin: 0px;
    padding-inline-start: 12px;
    & button {
        outline: none;
        border: none;
        padding: 0;
        font-family: var(--base-font-family);
        font-size: var(--font-size);
        font-weight: 600;
        color: var(--blue);
        background: none;
    }
}

.demographic-info {
    border-inline-start: 2px solid var(--blue);
    margin: 30px 0;
    padding-inline-start: 12px;
    & button {
        outline: none;
        border: none;
        padding: 0;
        font-family: var(--base-font-family);
        font-size: var(--font-size);
        font-weight: 600;
        color: var(--blue);
        background: none;
        & svg {
            margin-inline-start: 10px;
            transition: transform var(--easing) var(--transition-duration);
            & polygon {
                fill: var(--blue);
            }
        }
    }
    & .explanation {
        margin-top: 10px;
        display: none;
    }
}

.expanded {
    & button {
        & svg {
            transform: rotate(180deg);
        }
    }
    & .explanation {
        display: block;
    }
}
